body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 400px;
  height: 400px;
}

#video-stream {
  video {
    width: 100%;
  }
}

.my-webcam-class {
  display: block;
  width: 100%;
  height: 100%;
}
